@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: none;
    font-weight: 300;
    font-style: normal;
  }

body{
  background-color: #eaf4f7;
}

/* For Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  display: none;
}
 